
.poppins {
    font-family: "Poppins";
    font-optical-sizing: auto;
}

:root {
    box-sizing: border-box;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    font-family: poppins, serif;
    font-size: 15px;
    font-weight: 200;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--very-light-gray);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 25rem; */
    width: calc(100% - 2rem);
    margin: 1.5rem 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 3rem);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}
header > * {
    text-align: center;
}
header > * + * {
    margin-bottom: 0.5rem;
}
h1 {
    font-size: clamp(1rem, 0.8rem + 3vw, 3rem);
    font-weight: 400;
    color: var(--grayish-blue);
}
h2 {
    font-size: clamp(1rem, 0.8rem + 3vw, 3rem);
    font-weight: 600;
    color: var(--very-dark-blue);
}
.narrative {
    color: var(--grayish-blue);
    text-wrap: pretty;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 1rem;
    width: 100%;
    padding: 0 1em;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* padding: 0 1em; */
}
.card {
    background-color: white;
    padding: 1rem;
    border-radius: 3pt;
    /* min-height: 14rem; */
    position: relative;
    box-shadow: 0pt 3pt 8pt rgba(167, 167, 250, 0.5);
    width: 100%;
    aspect-ratio: 3/2;
}
.card::after {
    content: "";
    display:inline-block;
    min-width: 64px;
    min-height: 64px;
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    background-size: 100% 100%;
    bottom: 5%;
    right: 5%;
}
.card.supervisor {
    border-top: solid 3pt var(--cyan);
}
.card.team-builder {
    border-top: solid 3pt var(--red);
}
.card.karma {
    border-top: solid 3pt var(--orange);
}
.card.calculator {
    border-top: solid 3pt var(--blue);
}
.card.supervisor::after {
    background-image: url('./images/icon-supervisor.svg');
    background-repeat: no-repeat;
}
.card.team-builder::after {
    background-image: url('./images/icon-team-builder.svg');
    background-repeat: no-repeat;
}
.card.karma::after {
    background-image: url('./images/icon-karma.svg');
    background-repeat: no-repeat;
}
.card.calculator::after {
    background-image: url('./images/icon-calculator.svg');
    background-repeat: no-repeat;
}
.card-title {
    position:relative;
    z-index: 1;
    font-size: clamp(1rem, 0.8rem + 2vw, 3rem);
    font-weight: 600;
    color:var(--very-dark-blue);
    padding-bottom: 0.5rem;
} 
.card-caption {
    position:relative;
    z-index: 1;
    /* font-size: clamp(1rem, 0.8rem + 1vw, 3rem);; */
    color: var(--grayish-blue);
    text-wrap: pretty;
}
footer {
    margin-top: 1rem;
}

@media only screen and (min-width: 850px) {
    main {
        max-width: 75rem;
        font-size: clamp(1rem, 0.8rem + 0.5vw, 3rem);
    }
    body {
        justify-content: center;
    }
    header {
        padding: 3rem 1rem;
        max-width: 48rem;
    }
    h1, h2 {
        font-size: clamp(1rem, 0.8rem + 1vw, 3rem);
    }
    .narrative {
        font-size: clamp(1rem, 0.8rem + 0.5vw, 3rem);;
    }
    .container {
        flex-direction: row;
        align-items: normal;
        gap: 2rem;
    }
    .container > * {
        flex: 1 1 33%;
    }
    .column {
        justify-content: center;
        gap: 2rem;
    }
    .card {
        padding: 1.25rem;
    }
    .card-title {
        font-size: clamp(1rem, 0.8rem + 0.5vw, 3rem);
    }
    .card-caption {
        font-size: clamp(1rem, 0.8rem + 0.25vw, 3rem);
    }
}